.myCheckbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.myCheckbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.myCheckbox>span::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 3px solid white;
    border-radius: 50%;
}

.myCheckbox>input:not(:disabled):not(:checked)+span:hover::before {
    background-color: #F58028;
}

.myCheckbox>input:checked+span::before {
    background-color: #D7651D;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}