.mySelect {
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: #808080;
    border-radius: 7px;
    border:none;
    font-family: "Type tester", sans-serif;
    font-size: 20px;
    color: white;
}

.mySelect:focus {
    background-color: #F58028;
}

.mySelect__option:hover {
    background-color: #F58028;
}