.myLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 50px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px dashed #F58028;
    animation: rotate 1s infinite linear;
    z-index: 1;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}