.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display:none;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myModalContent{
    padding: 20px;
    background: lightgrey;
    border-radius: 10px;
    min-width: 300px;
}