@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202020;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
}

.postListHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Type tester", sans-serif;
    font-size: 70px;
    color: white;
}

hr.solid {
    min-width: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid white;
}

.post {
    display: inline-flex;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
    position: relative;
}

.post__content {
    font-family: "Type tester", sans-serif;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
}

.post-enter {
    transform: translateX(-650px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(650px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    background-color: #202020;
    padding: 15px;
    font-family: "Type tester", sans-serif;
    color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.page {
    background-color: #202020;
    padding: 10px;
    margin-right: 3px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Type tester", sans-serif;
    font-size: 19px;
    color: white;
}

.page:hover{
    background-color: #F58028;
}

.page__current {
    background-color: #D7651D;
    font-weight: bold;
}

.navbar {
    height: 60px;
    width: 100%;
    align-items: center;
    padding: 0 15px;
    background-color: #404040;
}

.navbar__links {
    margin-right: auto;
    text-decoration: none;
}

.buttons-container {
    display: flex;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
}