.myButton {
    padding: 10px 10px 10px 10px;
    display: inline-flex;
    justify-content: center;
    margin-top: 5px;
    font-family: "Type tester", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #808080;
    border:none;
}

.myButton:hover {
    background-color: #F58028;
    color: black;
}

.myButton:focus{
    background-color: #D7651D;
    color: black;
}

.myButton__icon {
    display: inline-flex;
}
