.myInput {
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: #808080;
    border-radius: 7px;
    font-family: "Type tester", sans-serif;
    font-size: 20px;
    color: white;
    border:none;
}

.myInput:focus, .myInput:first-line {
    font-family: "Type tester", sans-serif;
    font-size: 20px;
    color: white;
}

.myInput:focus {
    background-color: #F58028;
}

.myInput:hover {
    background-color: #F58028;
    color: white;
}